functions-framework~=3.3.0
google~=3.0.0
google-cloud-storage~=2.9.0
google-cloud-secret-manager~=2.16.1
google-cloud-logging~=3.5.0
google_crc32c~=1.5.0
cloudevents~=1.9.0
Pandas~=2.0.1
pandas_gbq~=0.19.2
pyzipper~=0.3.6